/* index.css */

/*reset*/

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:"Montserrat", sans-serif;
}

html, body #root{
	height: 100%;
	width: 100%;
}

body {
	position: relative;
	background: linear-gradient(135deg, #8072CA, #2F256B);
	color: #F3F4F6;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;;
}
body::before{
	content: "";
	position: absolute;
	inset: 0;
	background: url(./assets/AquaGo.png) no-repeat center;
	background-size: 60%;
	opacity: 0.08;
	z-index: 0;
	pointer-events: none;
}

#root {
	position: relative;
	z-index: 1;
}